.nouvelleBouteille {
    margin-bottom: 40px;
}

.nouvelleBouteille label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.nouvelleBouteille input,  .nouvelleBouteille textarea {
    display: block;
    margin-bottom: 40px;
    font-size: 18px;
    padding: 8px 8px;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    border: 1px solid rgb(234, 234, 234);
    width: 100%;
}

.nouvelleBouteille .bouton-large {
    margin-bottom: 40px;
}

.options-container {
    display: flex;
    justify-content: flex-start;
}

.options-container .radio-input {
    width: 0;
}

.radio-input {
    visibility: hidden;  
}

.options-container .radio-label {
    font-weight: normal;
    margin-bottom: 40px;
}

.radio-label {
    cursor: pointer;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    border: 1px solid rgb(234, 234, 234);
    padding: 4px 10px;
    margin-right: 20px;
    align-self: baseline;
}

.radio-input:checked+.radio-label {
    background: rgb(77, 77, 77);
    color: white;
}

/* CLASSE POUR MESSAGE CHAMP OBLIGATOIRE */

.champ-obligatoire-input {
    border: 1px solid red
}

.champ-obligatoire-message {
    color: red;
}