/* MENU TOP PAGE CELLIER */

.menu-actions-container {
    margin-right: 0;
    margin-left: auto;
    margin-top: 25px;
    width: 227px;
}

.bouton-carre {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 5px;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
}

.bouton-carre-label {
    font-size: 20px;
    color: black;
    margin-right: 5px;
}

/* CARTE PRODUIT */

 .bouteilles-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr;
 }

.bouteille {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.bouteille:hover {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.2) 0px 0px 8px;
}

.bouteille a {
    font-size: 18px;
    color: var(--black-light);
    text-decoration: none;
    display: block;
        flex: 1;
}

.bouteille-img-container {
    flex: 1;
}

.bouteille-img-container img {
    width: 100%;
    /* margin-top: 15px; */
}

.description {
    flex: 1;
}

.type {
    color: rgb(54, 54, 54);
    background-color: rgb(214, 214, 214);
    border-radius: 12px;
    width: fit-content;
    padding: 2px 8px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.rouge {
    color: var(--red-light);
    background-color: var(--red);
}

.blanc {
    color: var(--yellow-dark);
    background-color: var(--yellow);
}

.rosé {
    color: var(--pink-dark);
    background-color: var(--pink);
}

.orange {
    color: var(--orange-dark);
    background-color: var(--orange);
}

.mousseux, .champagne {
    color: var(--beige-dark);
    background-color: var(--beige);
}

.nom {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.pays, .millesime {
    color: grey;
    font-size: 18px;
}

.quantite {
    font-size: 20px;
    margin: 10px 20px;
    font-weight: bold;
}

.quantity-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

