.fiche .page-content-header {
    margin-bottom: 20px;
}

.bouteille_container{
    display: flex;
    flex-direction:column;
    margin-bottom: 60px;
    align-items: center;
}

.bouteille_container img{
    width: 300px;
    height: 300px;
}

.description-container{
    font-size: 18px;
}

.type{
    margin-bottom: 20px;
}

.bouton-large a {
    text-decoration: none;
    color: white;
}

.bouton-large{
    margin-bottom: 40px;
}

.icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.description-title {
    font-weight: bold;
}

.header-fiche {
    text-align: left;
}

.header-fiche h2 {
    font-size: 34px;
}

.bloc-description {
    display: flex;
    flex-direction: row;
}

.bloc-description p {
    display: block;
    margin-right: 20px;
    color: gray;
}

.bouteille_container h4 {
    margin-top: 10px;
}

.prix-container {
    display: flex;
    gap: 20px;
}

.prix {
    padding: 4px 8px;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 2px;
    display: inline-block;
    color: rgb(87, 87, 87);
}