.tache-couleur {
    position: absolute;
    right: -92px;
    top: -139px;
    display: block;
}

.logo-complet-login {
    display: none;
    width: 170px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    z-index: 3;
    position: relative;
}

/* CONTAINER INSCRIPTION */

.login-container {
    width: 300px;
    height: 580px;
    margin-top: 60px;
    padding: 0 20px;
    z-index: 2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; */
    /* border-radius: 5px; */
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.login-container header {
    margin-top: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.login-container input {
    width: 100%;
    font-size: 18px;
    padding: 12px 8px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--black-light);
    width: 100%;
}

.login-container  button {
    background-color: var(--black-light);
}

.login-container  button:hover {
    background-color: var(--red);
}

/* CONTAINER CONNEXION */

.login-container-connexion{
    width: 300px;
    height: 450px;
    margin-top: 60px;
    padding: 0 20px;
    z-index: 2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; */
    /* border-radius: 5px; */
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.login-container-connexion header {
    margin-top: 20px;
}

.login-container-connexion label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.login-container-connexion input {
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 12px 8px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--black-light);
    width: 100%;
}

.login-container-connexion  button {
    background-color: var(--black-light);
}

.login-container-connexion  button:hover {
    background-color: var(--red);
}


/* #uti_mdp {
    margin-bottom: 20px;
} */

.mdp-infos {
    margin-bottom: 20px;
}

.mdp-infos p {
    font-weight: bold;
    margin-bottom: 10px;
}

.mdp-infos span {
    padding: 4px 8px;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    color: rgb(87, 87, 87);
}

.login-link {
    text-align: center;
}

.link-bold {
    font-weight: bold;
    color: var(--red);
    text-decoration: none;
}

.body-container {
    overflow: hidden;
}

.champ-requis-input {
    border: 1px solid red !important;
    background-color: rgb(255 233 233) !important;
}

.champ-requis-message {
    color: red;
    display: block;
    opacity: 0;
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    padding-right: 5px;
}

.show-message-input-requis {
    opacity: 1 !important;
}


/* OEIL PASSWORD */

.eye-hidden{
    display: none;
}

.iconify-eye{
    color: grey;
    position: absolute;
    top: 241px;
    left: 240px;
    width: 25px;
    cursor: pointer;
}

.iconify-eye-connexion{
    color: grey;
    position: absolute;
    top: 107px;
    left: 240px;
    width: 25px;
    cursor: pointer;
}