/********
 * Votre CSS
 ********/

* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

html, body {
	height: 100%;
	margin: 0;
	background-color: white;
	font-family: 'Roboto', 'RobotoDraft', sans-serif;
	font-size: 95%;
	
}

main {
	margin-left: 20px;
	margin-right: 20px;
}

h2 {
	font-size: 30px;
}

.fa-plus {
	font-size: 20px;
}

.page-content-header {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.no-underline {
	text-decoration: none;
}

.bouton-large {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	background-color: grey;
	border: none;
	font-size: 18px;
	font-weight: bold;
}

.bouton-large:hover {
	background-color: rgb(168, 168, 168);
}






