/********
 * Votre CSS
 ********/

 /* Espacements utilisés */
 /* 
 	40px
 	20px
	10px 
*/

:root {
	--red: #931818;
	--red-light:#FFECEA;
	--red-focus: #ac4141;
	--orange: #FFC49F;
	--orange-dark: #752e02;
	--beige:rgb(233 220 207);
	--beig-dark:rgb(104 62 46);
	--yellow: #ffe8c3;
	--yellow-dark: #7d5e00;
	--pink: #ffeaf3;
	--pink-dark: #7f0037;
	--black-light: #222;
}

* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

html, body {
	margin: 0;
	background-color: white;
	font-family: 'Roboto', 'RobotoDraft', sans-serif;
	font-size: 95%;
}

body {
	position: relative;
	min-height: 100vh;
}

/* Pour garder le maudit footer en bas */
body::after {
	content: '';
	display: block;
	height: 42px;
	/* Set same as footer's height */
}

main {
	margin-left: 20px;
	margin-right: 20px;
}

h2 {
	font-size: 30px;
}

a {
	cursor: pointer;
}

.fa-plus, .fa-minus {
	font-size: 20px;
	color: black;
}

.page-content-header {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.no-underline {
	text-decoration: none;
}

.bouton-large {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--red);
	border: none;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.bouton-large:hover {
	background-color: var(--red-focus);
}

.retour {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: fit-content;
}




