@media only screen and (min-width:460px) {

    /* PAGE CONNEXION/INSCRIPTION */

    .login-container {
        width: 450px;
        margin: auto;
    }

}

@media all and (max-width:640px) {

    footer {
        display: none;
    }

}

@media only screen and (min-width:640px) {

    main {
        padding-bottom: 42px;
    }

    /* PAGE CELLIER */

    .bouteilles-container {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width: 768px) {

    nav {
        margin: auto;
    }

    main {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }


}

@media only screen and (min-width: 1400px) {

    /* PAGE CELLIER */

    .bouteilles-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

