@media only screen and (max-width:400px) {

    main {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* NAV */
    .titre {
        font-size: 26px;
    }

    /* CELLIER */

    .menu-actions-container {
        width: 189px;
    }

    .bouton-carre-label {
        font-size: 16px;
    }

    .type {
        font-size: 12px;
        margin-bottom: 10px;   
    }

    .nom {
        font-size: 16px;
    }

    .pays,
    .millesime {
        font-size: 14px;
    }

    .quantity-wrapper {
        margin-top: 10px;
    }

    .bouteille-img-container img {
        width: 50px;
        height: 100px;
    }

    /* FICHE */

    .bouteille_container img {
        width: 200px;
        height: 200px;
    }

    .description-container {
        width: 100%;
        font-size: 16px;
    }

    .header-fiche h2 {
        font-size: 24px;
    }

    .fiche .page-content-header {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    /* AJOUT */

    .nouvelleBouteille label {
        font-size: 16px;
    }

    .nouvelleBouteille input,
    .nouvelleBouteille textarea,
    .nouvelleBouteille select {
        font-size: 16px;
    }

    /* MODIFIE */

    .modifieBouteille label {
        font-size: 16px;
    }
}

@media only screen and (min-width:460px) {

    /* PAGE CONNEXION/INSCRIPTION */

    .login-container {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        border-radius: 5px;
        padding: 40px 20px;
    }

    .mdp-infos {
        margin-left: 20px;
    }

    .tache-couleur {
        top: -2px;
    }

    .logo-complet-login {
        display: none;
    }

    /* CELLIER */

    .bouteille {
        flex-direction: row;
    }

}

@media only screen and (min-width:510px) and (max-width:640px)  {

    .svg-superieur, .svg-inferieur, .svg-logo {
        height: 300px;
    }


}

@media all and (max-width:640px) {

    footer {
        display: none;
    }

    /* PAGE AJOUT */

    .nouvelleBouteille {
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .nouvelleBouteille .bouton-large {
        margin-bottom: 0px;
    }

    .nouvelleBouteille label {
        margin-top: 20px;
    }

    /* PAGE MODIFIER */

    .modifieBouteille {
        padding-bottom: 0px;
    }

    .modifieBouteille input[type=text],
    .modifieBouteille input[type=number],
    .modifieBouteille select {
        margin-bottom: 20px;
    }

    .modifieBouteille .bouton-large:last-child {
        margin-bottom: 0px;
    }

    /* PAGE INSCRIPTION / CONNEXION */

    .login-container {
        top: 48%;
    }

}

@media only screen and (min-width:640px) and (max-width: 768px) {

    /* PAGE CELLIER */

    .bouteilles-container {
        grid-template-columns: 1fr 1fr;
    }

    /* ACCUEIL */

    .svg-superieur, .svg-inferieur, .svg-logo {
        height: 350px;
    }


}

@media only screen and (min-width: 768px) {

    nav {
            margin: auto;
        }
    
    main {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .form-page {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    /* PAGE FICHE */
    
    .bouteille_container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .bouteille_container img {
        margin-right: 0;
        margin-left: 0;
        width: 400px;
        height: 400px;
    }

    /* PAGE CELLIER */

    .bouteilles-container {
        grid-template-columns: 1fr 1fr;
    }

    .bouton-large {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    /* FENETRE CONFIRMATION */

    .window {
        width: 30%;
    }

    /* PAGE CONNEXION/INSCRIPTION */

    .tache-couleur {
        right: -61px;
    }

    /* PAGE MODIFIE */

    .buttons-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .buttons-wrapper .bouton-large {
        width: 100%;
    }

}


@media only screen and (min-width: 768px) and (max-width: 1280px) {

    /* ACCUEIL */

    .svg-superieur, .svg-inferieur, .svg-logo {
        height: 400px;
     }

     /* Navigation */
    .nav-header {
        height: 70px;
    }
    .logo{
        width: 58px;
        height: 58px;
    }
    .titre{
        font-size: 40px;
    }


}

@media only screen and (min-width: 1100px) {

    /* PAGE CONNEXION/INSCRIPTION */

    .tache-couleur {
            right: 0px;    
     }
    
}

@media only screen and (min-width: 1280px) {

    /* PAGE CELLIER */

    .bouteilles-container {
        grid-template-columns: 1fr 1fr 1fr;
    } 

    /* PAGE CONNEXION / INSCRIPTION */

    .logo-complet-login {
        display: block;
    }

    .tache-couleur {
        top: -42px;
    }

    /* ACCUEIL */

    .svg-superieur, .svg-inferieur, .svg-logo {
        height: 400px;
    }

    /* Navigation */
    .nav-header {
        height: 70px;
    }
    .logo{
        width: 58px;
        height: 58px;
    }
    .titre{
        font-size: 40px;
    }
}

