@media only screen and (min-width:460px) {

    /* PAGE CONNEXION/INSCRIPTION */

    .login-container {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        border-radius: 5px;
        padding: 20px;
    }

}

@media only screen and (min-width:510px) and (max-width:640px)  {

    .svg-superieur, .svg-inferieur, .svg-logo {
        height: 300px;
    }
}

@media all and (max-width:640px) {

    footer {
        display: none;
    }


}

@media only screen and (min-width:640px) and (max-width: 768px) {

    main {
        padding-bottom: 42px;
    }

    /* PAGE CELLIER */

    .bouteilles-container {
        grid-template-columns: 1fr 1fr;
    }

    /* ACCUEIL */

    .svg-superieur, .svg-inferieur, .svg-logo {
        height: 350px;
    }
     

}

@media only screen and (min-width: 768px) and (max-width: 1280px) {

    nav {
        margin: auto;
    }

    main {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .bouton-large {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    /* ACCUEIL */

    .svg-superieur, .svg-inferieur, .svg-logo {
        height: 400px;
    }

}

@media only screen and (min-width: 1280px) {

    /* PAGE CELLIER */

    .bouteilles-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* PAGE FICHE */

    .bouteille_container{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .bouteille_container img{
        margin-right: 0;
        margin-left: 0;
        margin-top: 100px;
    }

    /* ACCUEIL */

    .svg-superieur, .svg-inferieur, .svg-logo {
        height: 400px;
    }
  
}

